body{
    background-color: aliceblue;
}
#signin{
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
    outline: none;
}
.user input, .pwd input{
    display: inline-block;
    width: 99%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    height:25px;
}
.grid{
    display: flex;
    justify-content: space-between;
}
.grid1{
    width: 50%;

}
.button button{
    margin-top: 10px;
    margin-left: 100px;
    width: 30%;
    height: 30px;
    background-color: #1473e6;
    color: white;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
a:visited{
    text-decoration-line: none;
    color: #0064dc;
}
.row{
    margin-top: 15px;
}