ul li{
    list-style-type: upper-roman;
}
ul li.image-music{
    list-style-image: url('music.ico');
}
/*ul li:nth-child(5){
	list-style-type: decimal-leading-zero;
}*/
ul li:nth-last-child(3){
    list-style-type: decimal-leading-zero;
}
a:visited{
    color: red;
}
a:hover{
    background-color: violet;
}
/*a:link{
	color: yellow;
}*/
a{
    text-decoration: none;
}
#abc, #def{
    height: 500px;
    padding-top: 600px;
}
ul li{
    list-style-type: none !important;
    list-style-image: none !important;
    padding: 5px;
    border: 1px solid green;
    width: 100px;
    margin-left: 3px;
    float: left;
    text-align: center;
    background-color: #F2FBEF;
    height: 20px;
}
ul li.active{
    background-color: #FE9A2E;
}
ul ul{
    padding-top: 7px;
    margin-left: -49px;
    display: none;
}
ul li.menu-down:hover ul{
    display: block;
}