body{
    background-color:violet;
}
header h1{
    font-size: 50px;
    text-align: center;
    color:yellow;
}
header h2{
    font-size: 40px;
    text-align: center;
    color: chartreuse;
}
section h2{
    font-size: 40px;
}