body{
    background-image:linear-gradient(45deg, white 30%, #ffe019 50%);
}
.container{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 4px 4px;
}
header h1{
    font-size: 50px;
    text-align: center;
    color:yellow;
}
header h2{
    font-size: 40px;
    text-align: center;
    color: chartreuse;
}
section h2{
    font-size: 40px;
}