#header{
    height: 120px;
}
#header div{
    height: 100px;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
}
div.hea1{
    width: 15%;
    background-color: pink;
}
div.hea2{
    width: 70%;
    background-color: #29d2ff;
}
div.hea3{
    display:none;
}
div.hea4{
    display:none;
}
div.hea5{
    display:none;
}
#section div{
    float: left;
    margin-right: 2%;
    margin-bottom: 3%;
}
div.sec1{
    width: 15%;
    height: 453px;
    background-color: rgba(35, 128, 36, 0.56);

}
div.sec2{
    width: 22%;
    height: 300px;
    background-color: hotpink;
    margin-bottom: 0%!important;
}
div.box1{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box2{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box3{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box4{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box5{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box6{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box7{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box8{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box9{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box10{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box11{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box12{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box13{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
div.box14{
    width: 10%;
    height: 130px;
    background-color: gainsboro;
}
@media screen and (max-width: 1024px){
    #header{
        height: 120px;
    }
    #header div{
        height: 100px;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    div.hea1{
        width: 15%;
        background-color: pink;
    }
    div.hea2{
        width: 70%;
        background-color: #29d2ff;
    }
    div.hea3{
        display:none;
    }
    div.hea4{
        display:none;
    }
    div.hea5{
        display:none;
    }
    #section div{
        float: left;
        margin-right: 2%;
        margin-bottom: 3%;
    }
    div.sec1{
        width: 15%;
        height: 453px;
        background-color: rgba(35, 128, 36, 0.56);
    }
    div.sec2{
        width: 22%;
        height: 288px;
        background-color: hotpink;
    }
    div.box1{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box2{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box3{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box4{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box5{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box6{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box7{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box8{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box9{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box10{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box11{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box12{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box13{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
    div.box14{
        width: 10%;
        height: 130px;
        background-color: gainsboro;
    }
}
@media screen and (max-width: 960px){
    div.hea1{
        float: left;
        width:30%;
    }
    div.hea4{
        display: block;
        width: 54%;
    }
    div.hea3{
        display:block;
        float:left;
        width: 10%;
        height: 100px;
        background-color: rgba(35, 128, 36, 0.56);
    }
    div.hea5{
        display: none;
    }
    div.sec1{
        display:none;
    }
    div.hea2{
        width: 99%;
    }
    div.sec2{
        width: 99%;
    }
    div.box1{
        width:48%;
    }
    div.box2{
        width: 48%;
    }
    div.box3{
        width:48%;
    }
    div.box4{
        width:48%;
    }
    div.box5{
        width: 48%;
    }
    div.box6{
        width:48%;
    }
    div.box7{
        width: 48%;
    }
    div.box8{
        width:48%;
    }
    div.box9{
        width: 48%;
    }
    div.box10{
        width: 48%;
    }
    div.box11{
        width: 48%;
    }
    div.box12{
        width: 48%;
    }
    div.box13{
        width:48%;
    }
    div.box14{
        width: 48%;
    }
}
@media screen and (max-width: 480px){
    div.hea2{
        float: left;
        width: 85%;
    }
    div.hea4{
        display: none;
    }
    div.hea1{
        width: 99%;
    }
    div.hea5{
        width: 26%;
        float: left;
        background-color:rgba(35, 128, 36, 0.56) ;
    }
    div.box1{
        width:99%;
    }
    div.box2{
        width: 99%;
    }
    div.box3{
        width:99%;
    }
    div.box4{
        width:99%;
    }
    div.box5{
        width:99%;
    }
    div.box6{
        width:99%;
    }
    div.box7{
        width: 99%;
    }
    div.box8{
        width:99%;
    }
    div.box9{
        width:99%;
    }
    div.box10{
        width: 99%;
    }
    div.box11{
        width: 99%;
    }
    div.box12{
        width: 99%;
    }
    div.box13{
        width:99%;
    }
    div.box14{
        width: 99%;
    }
}